{% extends '_base-layout-documentation.twig' %} {% block pageTitle
%}Guidelines{% endblock %} {% block bodyClass %}docs-page-configs{% endblock
%} {# hook for docs-nav__sub styling #} {% block content %}
<div class="docs-content__intro">
  <h1 class="docs-section-heading">
    Configs and workplace settings
  </h1>

  <p class="docs-perex docs-todo">
    Configs should be downloaded via npm or installed with yeoman. [link to
    wiki].
  </p>
</div>

<section>
    <h2 class="docs-section-subheading">VS Code settings</h2>
    <p>...</p>
</section>

<section>
    <h2 class="docs-section-subheading">VS Code snippets</h2>
    <p>...</p>
</section>

{% endblock %}
