{# todo: initial setup - override with custom template #}
{% extends '_base-layout-documentation.twig' %}

{% block pageTitle %}Implementation patterns{% endblock %}
{% block bodyClass %}docs-page-implementation-patterns{% endblock %} {# hook for docs-nav__sub styling #}

{% block content %}

<div class="documentation-wrapper">
    <div class="docs-content__intro">
        <h1 class="docs-section-heading">Implementation patterns</h1>
        <p class="docs-perex">E.g. custom font loading techniques, pros and cons</p>
    </div>
</div>

{% endblock %}
