{# todo: initial setup - override with custom template #}
{% extends '_base-layout-documentation.twig' %}

{% block pageTitle %}Labs{% endblock %}
{% block bodyClass %}docs-page-labs{% endblock %} {# hook for docs-nav__sub styling #}

{% block content %}

<div class="documentation-wrapper">
    <div class="docs-content__intro">
        <h1 class="docs-section-heading">Labs</h1>
        <p class="docs-perex">Experimenting with new features, trying what is possible.</p>
    </div>
</div>

{% endblock %}
