{# todo: initial setup - override with custom template #}
{% extends '_base-layout-documentation.twig' %}

{% block pageTitle %}Templates{% endblock %}
{% block bodyClass %}docs-page-templates{% endblock %} {# hook for docs-nav__sub styling #}

{% block content %}

<div class="documentation-wrapper">
    <div class="docs-content__intro">
        <h1 class="docs-section-heading">Templates</h1>
        <p class="docs-perex">...</p>
    </div>
</div>

{% endblock %}
