{% set stylesCode = "" %}

<div class="docs-code-example__markup">
    {# html pattern start #}

    <article class="wysiwyg">
        <header>
            <h1>Article Heading</h1>
            <p>Published: <time pubdate="pubdate">06-04-2019</time></p>
        </header>

        <p>Nárok na dlouhodobé ošetřovné má dle § 41a až § 41d zákona o nemocenském pojištění pojištěnec, který <em>„pečuje o osobu potřebující poskytování dlouhodobé péče v domácím prostředí“</em>. Dlouhodobou péčí se rozumí poskytování celodenní péče ošetřované osobě spočívající v <a href=\"\">každodenním ošetřování</a>, provádění opatření spojených se zajištěním léčebného režimu stanoveného poskytovatelem zdravotních služeb nebo pomoci při péči o vlastní osobu ošetřované osoby (péčí o vlastní osobu se přitom podle <strong>§ 72a zákona o nemocenském pojištění</strong> rozumí zejména péče spojená s podáváním jídla a pití, oblékáním a svlékáním, tělesnou hygienou a pomocí při výkonu fyziologické potřeby). Potřeba dlouhodobé péče vzniká dnem propuštění ošetřované osoby z hospitalizace.</p>
        <h2>Nadpis druhé úrovně</h2><p>Ošetřovanou osobou se rozumí fyzická osoba, u které došlo k závažné poruše zdraví, která si vyžádala hospitalizaci, při níž byla poskytována léčebná péče aspoň 7 kalendářních dnů, a je předpoklad, že její zdravotní stav po propuštění z hospitalizace do domácího prostředí bude nezbytně vyžadovat poskytování dlouhodobé péče aspoň po dobu 30 kalendářních dnů.</p>
        <img src="https://placehold.it/600x300/" alt="alternative text">
        <h3>Nadpis třetí úrovně</h3>
        <p>Podmínkou nároku na dlouhodobé ošetřovné je příslušný vztah pojištěnce k ošetřované osobě, tj. pojištěnec je manželem ošetřované osoby nebo registrovaným partnerem ošetřované osoby, příbuzným v linii přímé s ošetřovanou osobou nebo je její sourozenec, tchyně, tchán, snacha, zeť, neteř, synovec, teta nebo strýc, nebo je manželem, registrovaným partnerem nebo druhem (družkou) těchto osob (např. manželem neteře ošetřované osoby); v případě druha (družky) je další podmínkou, že pojištěnec má s vyjmenovanými osobami shodné místo trvalého pobytu, a to po dobu <strong>aspoň 3 měsíců bezprostředně před vznikem potřeby dlouhodobé péče</strong>, nebo druhem (družkou) ošetřované osoby nebo jinou fyzickou osobou žijící s ošetřovanou osobou v domácnosti; podmínkou přitom je shodné místo trvalého pobytu s ošetřovanou osobou, a to po dobu aspoň 3 měsíců bezprostředně před vznikem potřeby dlouhodobé péče.</p>
        <p><strong>Dalšími podmínkami nároku jsou:</strong></p>
        <ul>
            <li>pojištěnec nevykonává v zaměstnání práci,</li><li>jde-li o zaměstnance, nebo osobně samostatnou výdělečnou činnost,</li><li>jde-li o osobu samostatně výdělečně činnou.</li>
        </ul>
        <p>V případě poskytování dlouhodobé péče téže ošetřované osobě náleží dlouhodobé ošetřovné jen jednou a jen jednomu z oprávněných nebo postupně více oprávněným, jestliže se při téže potřebě dlouhodobé péče vystřídají. Toto vystřídání je možné i opakovaně, a to např. tak, že první měsíc pečuje jedna osoba, druhý měsíc další osoba a třetí měsíc opět první osoba nebo jiná, tedy třetí osoba, anebo tak, že např. od pondělí do středy bude pečovat jedna osoba a od čtvrtka do neděle bude pečovat druhá osoba. V případě vystřídání se u pojištěnce, který převzal poskytování dlouhodobé péče, posuzují podmínky nároku ke dni prvního převzetí této péče; to platí i v případě opakovaného převzetí poskytování dlouhodobé péče. Rozhodné období se zjišťuje ke dni prvního převzetí dlouhodobé péče, tj. dávka bude vypočtena z téhož denního vyměřovacího základu, z něhož byla vypočtena při prvním uplatnění nároku (např. pečuje-li první měsíc jedna osoba, druhý měsíc druhá osoba a třetí měsíc opět první osoba, bude se u této první osoby vycházet vždy z téhož denního vyměřovacího základu zjištěného pro účely prvního poskytování dávky).</p>
        <blockquote>V případě poskytování dlouhodobé péče téže ošetřované osobě náleží dlouhodobé ošetřovné jen jednou a jen jednomu z oprávněných nebo postupně více oprávněným, jestliže se při téže potřebě dlouhodobé péče vystřídají.</blockquote>
        <p>V případě poskytování dlouhodobé péče téže ošetřované osobě náleží dlouhodobé ošetřovné jen jednou a jen jednomu z oprávněných nebo postupně více oprávněným, jestliže se při téže potřebě dlouhodobé péče vystřídají. Toto vystřídání je možné i opakovaně, a to např. tak, že první měsíc pečuje jedna osoba, druhý měsíc další osoba a třetí měsíc opět první osoba nebo jiná, tedy třetí osoba, anebo tak, že např. od pondělí do středy bude pečovat jedna osoba a od čtvrtka do neděle bude pečovat druhá osoba. V případě vystřídání se u pojištěnce, který převzal poskytování dlouhodobé péče, posuzují podmínky nároku ke dni prvního převzetí této péče; to platí i v případě opakovaného převzetí poskytování dlouhodobé péče. Rozhodné období se zjišťuje ke dni prvního převzetí dlouhodobé péče, tj. dávka bude vypočtena z téhož denního vyměřovacího základu, z něhož byla vypočtena při prvním uplatnění nároku (např. pečuje-li první měsíc jedna osoba, druhý měsíc druhá osoba a třetí měsíc opět první osoba, bude se u této první osoby vycházet vždy z téhož denního vyměřovacího základu zjištěného pro účely prvního poskytování dávky).</p>
        <figure>
            <table>
                <caption>Název tabulky k problematice článku</caption>
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Sloupec</th>
                        <th>Sloupec</th>
                        <th>Sloupec</th>
                        <th>Sloupec na dva řádky</th>
                        <th>Sloupec</th>
                        <th>Sloupec</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Řádek</td>
                        <td>0,2</td>
                        <td>0,45</td>
                        <td>2,8</td>
                        <td>14,5</td>
                        <td>32,84</td>
                        <td>2,84</td>
                    </tr>
                    <tr>
                        <td>Řádek</td>
                        <td>0,2</td>
                        <td>0,45</td>
                        <td>2,8</td>
                        <td>14,5</td>
                        <td>32,84</td>
                        <td>2,84</td>
                    </tr>
                    <tr>
                        <td>Řádek</td>
                        <td>0,2</td>
                        <td>0,45</td>
                        <td>2,8</td>
                        <td>14,5</td>
                        <td>32,84</td>
                        <td>2,84</td>
                    </tr>
                    <tr>
                        <td>Řádek</td>
                        <td>0,2</td>
                        <td>0,45</td>
                        <td>2,8</td>
                        <td>14,5</td>
                        <td>32,84</td>
                        <td>2,84</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Shrnutí dat</td>
                        <td>Ano</td>
                        <td>Ano</td>
                        <td>Ne</td>
                        <td>Ano, s výhradami</td>
                        <td>Ne</td>
                        <td>Ano</td>
                    </tr>
                </tfoot>
            </table>
            <figcaption>
                Tabulka č.1: Problematika s názvem ABC
            </figcaption>
        </figure>
        <h2>Závěr</h2>
        <p>Ošetřovanou osobou se rozumí fyzická osoba, u které došlo k závažné poruše zdraví, která si vyžádala hospitalizaci, při níž byla poskytována léčebná péče aspoň 7 kalendářních dnů, a je předpoklad, že její zdravotní stav po propuštění z hospitalizace do domácího prostředí bude nezbytně vyžadovat poskytování dlouhodobé péče aspoň po dobu 30 kalendářních dnů.</p>
        <footer>
            <p><small>Creative Commons Attribution-ShareAlike License</small></p>
        </footer>
    </article>
    {# html pattern end #}
</div>

<div class="docs-code-example__scripts">
    {# js pattern start #}
    {# js pattern end #}
</div>
