<!--[if lte IE 9]>
    <div class="info-banner info-banner--old-browser">
        <div class="wrapper-inner">
            <p class="info-banner__text">
                Používáte <strong>zastaralý</strong> prohlížeč. Pokud je to možné, <a href="https://browsehappy.com/" target="_blank" rel="noreferrer noopener">aktualizujte svůj prohlížeč</a> pro vyšší bezpečnost a příjemnější brouzdání.
            </p>
        </div>
    </div>
<![endif]-->

<div class="info-banner info-banner--no-js">
    <div class="wrapper-inner">
        <p class="info-banner__text">Váš prohlížeč má vypnutý JavaScript. Stále najdete vše podstatné, ale pro lepší funkci doporučujeme JavaScript zapnout.</p>
    </div>
</div>
