{% include '../styleguide/partials/_demo-heading.twig' with { 'heading': 'Default Media Object' } %}
<div class="media-object">
    <div class="media-object__image-wrapper">
        <img src="https://source.unsplash.com/150x150/?people" alt="alternative text" class="media-object__image">
    </div>
    <div class="media-object__content">
        <p>First paragraph</p>
        <p>Second paragraph</p>
        <p>Third paragraph will be little bit longer</p>
    </div>
</div>

{% include '../styleguide/partials/_demo-heading.twig' with { 'heading': 'Media Object - align middle' } %}
<div class="media-object media-object--align-middle">
    <div class="media-object__image-wrapper">
        <img src="https://source.unsplash.com/150x150/?people" alt="alternative text" class="media-object__image">
    </div>
    <div class="media-object__content">
        <p>First paragraph</p>
        <p>Second paragraph</p>
        <p>Third paragraph will be little bit longer</p>
    </div>
</div>

{% include '../styleguide/partials/_demo-heading.twig' with { 'heading': 'Media Object - align bottom' } %}
<div class="media-object media-object--align-bottom">
    <div class="media-object__image-wrapper">
        <img src="https://source.unsplash.com/150x150/?people" alt="alternative text" class="media-object__image">
    </div>
    <div class="media-object__content">
        <p>First paragraph</p>
        <p>Second paragraph</p>
        <p>Third paragraph will be little bit longer</p>
    </div>
</div>

{% include '../styleguide/partials/_demo-heading.twig' with { 'heading': 'Media Object - reversed' } %}
<div class="media-object media-object--reverse">
    <div class="media-object__image-wrapper">
        <img src="https://source.unsplash.com/150x150/?people" alt="alternative text" class="media-object__image">
    </div>
    <div class="media-object__content">
        <p>First paragraph</p>
        <p>Second paragraph</p>
        <p>Third paragraph will be little bit longer</p>
    </div>
</div>

{% include '../styleguide/partials/_demo-heading.twig' with { 'heading': 'Media Object - custom' } %}
<div class="media-object media-object--custom">
    <div class="media-object__image-wrapper">
        <img src="https://source.unsplash.com/150x150/?people" alt="alternative text" class="media-object__image">
    </div>
    <div class="media-object__content">
        <p>First paragraph</p>
        <p>Second paragraph</p>
        <p>Third paragraph will be little bit longer</p>
    </div>
</div>

{% include '../styleguide/partials/_demo-heading.twig' with { 'heading': 'Media Object - nested' } %}
<div class="media-object">
    <div class="media-object__image-wrapper">
        <img src="https://source.unsplash.com/150x150/?people" alt="alternative text" class="media-object__image">
    </div>
    <div class="media-object__content">
        <p>First paragraph</p>
        <p>Second paragraph</p>
        <p>Third paragraph will be little bit longer</p>

        <div class="media-object media-object--smallish">
            <div class="media-object__image-wrapper">
                <img src="https://source.unsplash.com/150x150/?people" alt="alternative text" class="media-object__image">
            </div>
            <div class="media-object__content">
                <p>First paragraph</p>
                <p>Second paragraph</p>
                <p>Third paragraph will be little bit longer</p>
            </div>
        </div>

        <div class="media-object media-object--smallish">
            <div class="media-object__image-wrapper">
                <img src="https://source.unsplash.com/150x150/?people" alt="alternative text" class="media-object__image">
            </div>
            <div class="media-object__content">
                <p>First paragraph</p>
                <p>Second paragraph</p>
                <p>Third paragraph will be little bit longer</p>
            </div>
        </div>
    </div>
</div>
