{% extends '../_base-layout-documentation.twig' %}

{% block pageTitle %}Code Guidelines{% endblock %}
{% block bodyClass %}docs-page-code-guidelines-item{% endblock %} {# hook for docs-nav__sub styling #}

{% block content %}

<div class="docs-content__intro">
    <h1 class="docs-section-heading">
        Code Guidelines
    </h1>

    <p class="docs-perex docs-todo">
        Tady budou popsány a vysvětleny pravidla, která jsou v linterech.
    </p>
</div>

{% endblock %}
